body {
    margin-top: 100px;
    text-align: left;
}

ul {
    padding: 0;
    margin: 0 auto;
    width: 500px; 
}

ul li {
    justify-items: center;
    display: flex;
    justify-content: space-between ;
    width: 100%; 
    border: 1px solid gray;
    list-style: none;
    border-radius: 3px;
    margin-bottom: 10px; 
}

ul li input {
    width: 100% ; 
    padding: 5px;
    box-sizing: border-box;
    border: none;
}
.xPendientes{
    text-align: left;
    margin-left: 450px;
}
.basurero{
    padding-top: 3px ;
    padding-right: 5px;
}
.listaDePendientes{
    padding-left: 5px;
}